.user-photostream {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .user-info-container {
    /* background-color: rgb(213, 185, 163); */
    /* background-color: rgb(128, 184, 218); */
    background-image: url('../../../public/photos/eat-dessert.png');
    /* background-image: url('../../../public/photos/champagne-neon.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    margin-top: 50px;
    width: 100%;
    padding: 20px;
  }

  #user-name-text, #user-email {
    margin-left: 15vw;
  }

  #user-name-text p {
    /* color: rgb(27, 27, 27); */
    /* color:rgb(213, 185, 163); */
    color:whitesmoke;

    text-shadow: 2px 2px 2px rgb(27, 27, 27);
    font-size: 25px;
  }

  #user-email p {
    /* color: rgb(27, 27, 27); */
    /* color:rgb(213, 185, 163); */
    color:whitesmoke;

    text-shadow: 2px 2px 2px rgb(27, 27, 27);
    font-size: 16px;
  }

  #user-name-text p {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 40px;
  }

  #user-email p {
    margin-top: 4px;
  }

  .grid-container {
    columns: 3 150px;
    column-gap: 1rem;
    width: 70%;
    margin: 50px 130px 130px 130px;
  }

  .user-photo-container {
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    transition: all .25s ease-in-out;
    border-radius: 5px;
  }

  .photo {
    display: block;
    width: 100%;
    height: auto;
  }

  .toggle-nav {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    box-shadow: 0px 2px 5px -4px black;
  }

  .toggle-nav a {
    margin: 20px;
    color: rgb(27, 27, 27);
  }

  .toggle-nav a:hover {
    color: rgb(213, 185, 163);
  }
