.splash-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(27, 27, 27, 1);
    background-image: url('../../../public/photos/04-chef.jpg');
    background-size: cover;
    z-index: 0;
    position: fixed;
    /* z-index: 100; */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.text-container h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
    /* z-index: 15; */
}

.text-container p {
    color: white;
    font-size: 25px;
    letter-spacing: 0.02em;
    text-align: center;
    /* z-index: 15; */
}
