.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-logo > img {
    width: 60px;
    height: 60px;
}

.form-header-text {
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errors-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 3.5rem;
    width: 25rem;
}

/* .input-container > label {
    align-self: flex-start;
    margin-left: 39px;
    font-size: 14px;
    margin-bottom: 3px;
    color: gray;
} */

/* .input-container > textarea {
    resize: none;
} */

.form-input {
    width: 75%;
    padding: 10px;
    height: 25px;
}

/* .password-input {
width: 80%;
} */

.submitBtn {
    width: 82%;
    margin-top: 15px;
    height: 2.5rem;
}

.demo-user-btn {
    width: 82%;
    margin-top: 10px;
    height: 2.5rem;
}

.line-skip {
    width: 82%;
    margin-top: 20px;
    border: 0.2px solid rgb(206, 206, 206);
}
